@page "/admin/categories"
@layout AdminLayout
@attribute [Authorize(Roles = "cpkadmin")]
@inject ProductCategoriesViewModel ViewModel
@inject NavigationManager NavigationManager
<h3>Категории</h3>
<div>
    <button @onclick="@Create">Новая категория</button>
</div>
<div class="jumbotron col-md-6">
    <EditForm EditContext="@ViewModel.FilterFormEditContext" OnValidSubmit="@ViewModel.HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="title">Title</label>
                <InputText id="title" @bind-Value="@ViewModel.Title" class="form-control" />
                <ValidationMessage For="@(() =>ViewModel.Title)" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled="@(!context.Validate())">Submit</button>
    </EditForm>
</div>

<nav aria-label="Table pages">
    <Paginator OnPageChanged="@ViewModel.LoadPage" Model="@ViewModel.Paginator" />
</nav>
<div>
    <Error Model="@ViewModel.Error" />
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                @foreach (var kv in ViewModel.TableHeaderModel)
                {
                    <SortableTableHeader Sorted="@(x=>ViewModel.HandleSort(kv.Key))" Model="@kv.Value">@kv.Key.ToString("G")</SortableTableHeader>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewModel.List != null)
            {
                @foreach (var item in ViewModel.List)
                {
                    <tr>
                        <td><img width="300" src="@(ViewModel.ImageUrl(item.ImageId))" /></td>
                        <td>@item.Title</td>
                        <td>@item.ShortDescription</td>
                        <td>
                            <input type="button"
                                   value="Редактировать"
                                   class="btn btn-success"
                                   @onclick="@(async x => Edit(item.Id.ToString(), x))" />
                            <input type="button"
                                   value="Удалить"
                                   class="btn btn-success"
                                   @onclick="@(async x => Delete(item.Id.ToString(), x))" />
                        </td>
                    </tr>
                } }
            else
            {
                <tr>
                    <td>
                        <p><em>Loading...</em></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@functions
{ protected override async Task OnInitializedAsync()
    {
        try
        {
            ViewModel.Filter = new Core.Models.ProductCategoriesFilterModel();
            await ViewModel.OnInitializedAsync();
        }
        catch (Microsoft.AspNetCore.Components.WebAssembly.Authentication.AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }

    private void Create(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/admin/createcategory");
    }

    private void Edit(string id, MouseEventArgs args)
    {
        NavigationManager.NavigateTo($"/admin/createcategory/{id}");
    }

    private void Delete(string id, MouseEventArgs args)
    {
        NavigationManager.NavigateTo($"/admin/createcategory/{id}");
    }
}
