@model CPK.Sso.Models.ManageViewModels.UserViewModel

@{
    ViewData["Title"] = "Удаление пользователя";
}

<div class="container delete-user-container">
    <div class="page-header">
        <h1>Вы уверены что хотите удалить пользователя <b>@Model.UserName</b> ?</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>@Html.DisplayNameFor(x => x.UserName) : @Model.UserName</div>
            <div>@Html.DisplayNameFor(x => x.Roles) : @string.Join(", ", Model.Roles)</div>
            <div>@Html.DisplayNameFor(x => x.EmailConfirmed) : @Html.DisplayFor(modelItem => Model.EmailConfirmed)</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a asp-action="DeleteUserConfirmed" asp-route-id="@Model.UserId" class="btn btn-danger">Удалить</a>
            <a asp-action="Index" class="btn">Отмена</a>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}